## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [27]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [1]:
s = "Hi there Sam!"

In [2]:
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [7]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [14]:
Tuple is immutable whereas list is mutable.

SyntaxError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [15]:
def domain(d):
  return d.split("@")[1]

In [16]:
d = "user@domain.com"
print(domain(d))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [17]:
def wordCheck(s):
  return "dog" in s.lower()

In [28]:
print(wordCheck("Dog is friendly."))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [19]:
def countWord(s):
  return s.lower().count("dog")

In [20]:
print(countWord("Dog is a very friendly dog. Dog is good"))

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [22]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [23]:
print(caught_speeding(90,True))

Big Ticket

In [24]:
print(caught_speeding(65,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [25]:
n = int(input("Enter the number of Employees: "))
l = []
for i in range(n):
  basic = int(input("Enter basic pay for employee {0}: ".format(i+1)))
  da = float(basic*0.25)
  hra = float(basic*0.15)
  pf = float((basic+da)*0.12)
  ta = float(basic*0.075)
  netpay = float(basic+da+hra+ta)
  grosspay = float(netpay-pf)
  l.append([basic,da,hra,pf,ta,netpay,grosspay])
for i in range(n):
  print(l[i][-1])

Enter the number of Employees: 5
Enter basic pay for employee 1: 20000
Enter basic pay for employee 2: 23000
Enter basic pay for employee 3: 15000
Enter basic pay for employee 4: 25000
Enter basic pay for employee 5: 30000
26500.0
30475.0
19875.0
33125.0
39750.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [29]:
d1 = {'Empid':100,'Empname':'ABC','Basicpay':50000}
d2 = {'DeptName':'Information Technology','Deptid':200}
print(d1)
print(d2)
d1.update(d2)
print(d1)

{'Empid': 100, 'Empname': 'ABC', 'Basicpay': 50000}
{'DeptName': 'Information Technology', 'Deptid': 200}
{'Empid': 100, 'Empname': 'ABC', 'Basicpay': 50000, 'DeptName': 'Information Technology', 'Deptid': 200}